@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo!</h1>
    <p>Crie uma lista de livros que tem vontade de ler.</p>

    <img src="~/img/pessoalendo.jpg" alt="Desenho pessoa Lendo" class="img-home"/>
</div>
